<!DOCTYPE html>
<html>
    <head>
        <title>About us Page</title>
    </head>

    <h1 style="text-align:center">About Us</h1>

        <a href="/home">
            <button style="background-color:rgba(136, 32, 49, 0.792); color:white;">home</button>
        </a>

    <div style="text-align:center">
        <img src="/static/coderdojo.png", alt="coderdojo"
        style = "width: 250px;">

        <img src="/static/raspberryPi.png", alt="Pi"
        style = "width: 150px;"><br>
    </div>

        <img src="/static/CoolestProjects_03072020-185-2048x1365.jpg" alt="students"
        style="width:450px; margin-top:50px">

        <img src="/static/IMG_4303.jpg", alt="presentation"
        style="width:386px">

        <img src="/static/OIP.webp", alt="little"
        style="width: 431px;">

    </body>

    <div style="display: flex; height: 100vh;font-size:large; font-family:Arial">

        <div style="padding:20px; text-align:center">
            <div class="centered">
                <h3>What we do</h3>
                <p>
                    At CoderDojo clubs(Dojos) we offer a space for<br>
                    young people to explore technology and coding<br>
                    in a formal, creative, safe, and social<br>
                    environment.
                </p>
            </div>
            
        </div>
        
    </div>
</html>