<!DOCTYPE html>
<html>
    <head>
        <title>About us Page</title>

        <style>
            .home {
                top: 20px;
                left: 20px;
                width: 55px;
                height: 55px;
                position: absolute;
            }
        </style>
    </head>

    <body>

         <h1 style="
        text-align:center;
        background-color:rgb(112, 11, 53);
        height: 70px;
        line-height: 70px;
        font:arial;
        margin:0
        ">About Us

            <a href="/events">
                <img src="/static/home-button.webp" class="home">
            </a>
        </h1>
     


        <div style="text-align:center">
            <img src="/static/coderdojo.png" alt="coderdojo" style="width: 250px;">
            <img src="/static/raspberryPi.png" alt="Pi" style="width: 150px;"><br>
        </div>

        <img src="/static/CoolestProjects_03072020-185-2048x1365.jpg" alt="students"
        style="width:450px; margin-top:50px">

        <img src="/static/IMG_4303.jpg" alt="presentation"
        style="width:386px">

        <img src="/static/OIP.webp" alt="little"
        style="width: 431px;">

<div style="display: flex; height: 100vh; font-size:large; font-family:Arial">

    <div style="padding:20px; text-align:center; width:50%;">
        <div class="centered">
            <h3>What we do</h3>
            <p>
                At CoderDojo clubs(Dojos) we offer a space for<br>
                young people to explore technology and coding<br>
                in a formal, creative, safe, and social<br>
                environment.
            </p>
        </div>
    </div>

    <div style="padding:20px; width:50%; text-align:center;">
        <h3>Our morals</h3>
        <p>
            We believe everyone should have equal access to learn to code,<br>
            therefore we pay attention to those who have accessibility issues.<br><br>
            Diversity and equality at our sessions will always be<br>
            our main priority.
        </p>
    </div>

</div>

    </body>
</html>
