<!DOCTYPE html>
<html>
    <head>
        <title>event page</title>
    </head>

    <body>
    
        <h1 style="
        text-align:center;
        background-color:rgb(112, 11, 53);
        height: 70px;
        line-height: 70px;
        font:arial;
        margin:0
        ">Upcoming events</h1>
    
    <div
        style="background-color:rgb(145, 17, 70); height:700px; width: 100px; float:left; padding:20px; margin:0">
    </div>

    <div style=" text-align:center">
        <img src="/static/python..2026-02-11 003235.png" alt="python"
        style="width:350px; height:150px; margin-top:35px;display:inline-block; vertical-align:-7px;">

        <p style="display:inline-block;border:2px solid black; width:125px">
            Age: 12 - 14<br><br>
            Level: beginner<br><br>
            Date: 25/10/26<br><br>
            Duration: 3hrs<br><br>
        </p>
        
    </div>
        <div style="text-align:center;">
            
            <button style="width:350px; height: 30px;background-color:green; color:white;">Book</button>
        </div>
        
    </body>
        



</html>