<!DOCTYPE html>
<html>
    <head>
        <title>event page</title>
    </head>
 
    <body>
   
        <h1 style="
        text-align:center;
        background-color:rgb(112, 11, 53);
        height: 70px;
        line-height: 70px;
        font:arial;
        margin:0
        ">Upcoming events</h1>

        <div
            style="background-color:rgb(145, 17, 70); height:700px; width: 200px; float:left; padding:20px; margin:0">
            <a href="/about">
                <button style="margin-top:15px; width: 200px; height: 35px;">About us</button><br>
            </a>

            
            <button style ="margin-top:50px; width:200px; height:35px; background-color:grey">Upcoming events</button>
            

            <a href="/bookings">
                <button style="margin-top:50px; width:200px; height:35px;">Your bookings</button><br>
            </a>

            <a href="/feedback">
                <button style="margin-top:350px; width:200px; height:35px">Feedback</button><br>
            </a>

            <a href="/logout">
                <button style="margin-top:50px; width:200px; height:35px; color:red;font-size:large;font-weight:bold; border: 2px solid black">Log Out</button>
            </a>
        </div>
   


    <div style="width:500px; margin:0 auto; text-align:center;">

        <div>
            <img src="/static/python..2026-02-11 003235.png" alt="python"
                style="width:350px; height:150px; margin-top:35px;display:inline-block; vertical-align:-7px;">

            <p style="display:inline-block; border:2px solid black; width:125px; ">
                Age: 12 - 14<br><br>
                Level: beginner<br><br>
                Date: 25/10/26<br><br>
                Duration: 3hrs<br><br>
            </p>
        </div>

        
        <div style="display:flex; margin-top:0px;">

            <div style="border:2px solid black; padding:10px; font-size:14px; width:350px;">
                Learn the basics of Python.  
                Starting with printing messages, moving onto variables,  
                and finishing strong with user inputs.
            </div>

            <a href="/book-event/1">
                <button style="width:125px; background-color:green; color:white; font-size:16px; height:100%;">
                    Book
                </button>
            </a>

        </div>

    </div><br>

    <div style="width:500px; margin:0 auto; text-align:center;">

        <div>
            <img src="/static/python 2 003323.png" alt="intermediate"
                style="width:350px; height:150px; display:inline-block; vertical-align:-7px;">

            <p style="display:inline-block; border:2px solid black; width:125px;">
                Age: 12 - 14<br><br>
                Level: beginner<br><br>
                Date: 25/10/26<br><br>
                Duration: 3hrs<br><br>
            </p>
        </div>

        <div style="display:flex;">
            <div style="border:2px solid black; padding:10px; font-size:14px; width:350px;">
                Looking to enhance your skills?
                We will be covering tuples, dictionary and creating projects. 
            </div>

            <a href="/book-event/2">
                <button style="width:125px; background-color:green; color:white; font-size:16px; height:100%;">
                    Book
                </button>
            </a>
        </div>

    </div><br>

    <div style="width:500px; margin:0 auto; text-align:center;">

        <div>
            <img src="/static/game.png"
                style="width:350px; height:150px; display:inline-block; vertical-align:-7px;">

            <p style="display:inline-block; border:2px solid black; width:125px;">
                Age: 12 - 14<br><br>
                Level: beginner<br><br>
                Date: 25/10/26<br><br>
                Duration: 3hrs<br><br>
            </p>
        </div>

        <div style="display:flex;">
            <div style="border:2px solid black; padding:10px; font-size:14px; width:350px;">
                Let imaginations run wild by learning to design games on Roblox/minecraft,
                play and interact
            </div>

            <a href="/book-event/3">
                <button style="width:125px; background-color:green; color:white; font-size:16px; height:100%;">
                    Book
                </button>
            </a>
        </div>

    </div>

    </body>
</html>