<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
    </head>

    <body>
    
        <h1 style="
        text-align:center;
        background-color:rgb(112, 11, 53);
        height: 70px;
        line-height: 70px;
        font:arial;
        margin:0
        ">
        CoderDojo</h1>
        <div
            style="background-color:rgb(145, 17, 70); height:700px; width: 200px; float:left; padding:20px; margin:0">
            <a href="/about">
                <button style="margin-top:15px; width: 200px; height: 35px;">About us</button><br>
            </a>

            <a href="/event">
                <button style ="margin-top:50px; width:200px; height:35px;">Upcoming events</button>
            </a>

            <a href="/templates/bookings.html">
                <button style="margin-top:50px; width:200px; height:35px;">Your bookings</button><br>
            </a>

            <a href="/templates/feedback.html">
                <button style="margin-top:350px; width:200px; height:35px">Feedback</button><br>
            </a>

            <a href="/logout">
                <button style="margin-top:50px; width:200px; height:35px; color:red;font-size:large;font-weight:bold; border: 2px solid black">Log Out</button>
            </a>
        </div>
    </body>
</html>