<!DOCTYPE html>
<html>
    <head>
        <title>Booking system</title>
    </head>
    <body style=" background-color:mediumvioletred">
        <h1 style= "text-align:center; color:white">Log in</h1>

        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Email Addess" required style="margin-bottom:20px; padding:10px; border-radius:10px"><br>
            <input type="password" name="password" placeholder="Password" required style="margin-bottom:20px; padding:10px; border-radius:10px"><br>
            <button type="submit">Log In</button>
        </form>

    </body>
</html>