<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>

<body>

    <img src="/static/raspberry-pi-foundation-logo.png" alt="logo" style="height:40px">

    <h1 style="text-align:center">SIGN UP</h1>


    <form method="POST" action="/signup">

        <input type="text" id="fname" name="name" placeholder="First Name" required>
        <input type="text" id="lname" placeholder="Last Name" required><br>

        <input style="margin-top:20px; width: 335px;" 
            type="email" id="email" name="email" placeholder="Email address" required><br>

        <input style="margin-top:20px; width: 335px;" 
            type="password" id="password" name="password" placeholder="Password" required><br>

        <button style="margin-top:20px" type="submit">Create Account</button>
    </form>


    <div>
        <p>Already have an account?
            <a href="/login">Log in</a>
        </p>
    </div>

</body>
</html>
